# Frontend
frontend/.next
frontend/node_modules

# Backend
backend/venv
backend/__pycache__

# Database
backend/portfolio.db

# Environment
.env

# Uploads
backend/uploads/*
# Virtual Environment
venv/
backend/venv/
portfolio.db
backend/venv
